---
mysql_bind_address: 0.0.0.0

mysql_users:
  - name: zabbix
    password: zabbix
    priv: "zabbix.*:ALL"
    encoding: utf8
    collation: utf8_bin
    host: "localhost"

mysql_databases:
  - name: zabbix
    encoding: utf8
    collation: utf8_bin

rsyslog_receiver: yes

firewall_services:
  - name: ssh
  - name: mysql
  - name: http
  - name: https
  - name: 514
    protocol: tcp
  - name: 10050
    proto: tcp
  - name: 10051
    proto: tcp

postfix_inet_interfaces: all
postfix_mynetworks: "{{ ansible_default_ipv4.network }}/{{ ansible_default_ipv4.netmask }}"

zabbix_web_groups:
  - name: example.com

zabbix_web_hosts:
  - name: node1.example.com
    interface_ip: "{{ hostvars['node1.example.com']['ansible_eth0']['ipv4']['address'] }}"
    interface_dns: node1.example.com
    visible_name: node1
    description: frontend server
    groups:
      - example.com
    link_templates:
      - Template OS Linux
  - name: node2.example.com
    interface_ip: "{{ hostvars['node2.example.com']['ansible_eth0']['ipv4']['address'] }}"
    interface_dns: node2.example.com
    visible_name: node2
    description: application server
    groups:
      - example.com
    link_templates:
      - Template OS Linux
  - name: node3.example.com
    interface_ip: "{{ hostvars['node3.example.com']['ansible_eth0']['ipv4']['address'] }}"
    interface_dns: node3.example.com
    visible_name: node3
    description: backend server
    groups:
      - example.com
    link_templates:
      - Template OS Linux
